.standards__title-wrapper {
  margin-bottom: 1em;
}

.standards__title-wrapper::after {
  display: block;
  width: 150px;
  height: 1px;
  margin-left: auto;
  margin-top: 0.7em;
  margin-right: auto;
  content: '';
  outline: 1px solid #DE7900;
  background: #DE7900;
}

@media (max-width: 599px) {
  .standards__title-wrapper {
    text-align: center;
  }
}
