.cooperation__labels {
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

@media (max-width: 400px) {
  .cooperation__labels {
    grid-template-columns: 1fr;
  }

}
