.root {
  font-family: "OfficinaSans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  background-color: #ffffff;
  background-image: url(../../images/bg.png);
}
