.header__promo-title-span {
  font-size: 33px;
  color: white;
  display: block;
}

.header__promo-title-span:nth-of-type(2) {
  color: #DE7900;
}
@media (max-width: 476px) {
  .header__promo-title-span {
    font-size: 28px;
  }
}
