.nav-menu-small__close-button {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url('../../../images/close-button.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: none;
  cursor: pointer;
  transition: .5s;
  right: -60px;
  top: 30px;
}

.nav-menu-small__close-button:hover {
  opacity: .6;
}

@media (max-width: 795px) {
  .nav-menu-small__close-button {
    width: 20px;
    height: 20px;
    right: -40px;
  }
}
