@import "../vendor/fonts.css";
@import "../blocks/button/button.css";
@import '../blocks/tinkoff-banner/tinkoff-banner.css';
@import "../blocks/tinkoff-banner/__logo/tinkoff-banner__logo.css";
@import "../blocks/tinkoff-banner/__logo/_type/tinkoff-banner__logo_type_popup.css";
@import '../blocks/tinkoff-banner/__button/tinkoff-banner__button.css';
@import '../blocks/tinkoff-banner/__wrapper/tinkoff-banner__wrapper.css';
@import '../blocks/tinkoff-banner/__text/tinkoff-banner__text.css';
@import "../blocks/tinkoff-banner/__close-button/tinkoff-banner__close-button.css";
@import "../blocks/header/header.css";
@import "../blocks/header/__overlay/header__overlay.css";
@import "../blocks/root/root.css";
@import "../blocks/nav-menu/__logo/nav-menu__logo.css";
@import "../blocks/nav-menu/__logo-wrapper/nav-menu__logo-wrapper.css";
@import "../blocks/nav-menu/__logo-description/nav-menu__logo-description.css";
@import "../blocks/nav-menu/nav-menu.css";
@import "../blocks/nav-menu/__item/nav-menu__item.css";
@import "../blocks/nav-menu/__item-link/nav-menu__item-link.css";
@import "../blocks/nav-menu/__list/nav-menu__list.css";
@import "../blocks/nav-menu/__phone/nav-menu__phone.css";
@import "../blocks/nav-menu/__phone-code/nav-menu__phone-code.css";
@import "../blocks/nav-menu/__phone-link/nav-menu__phone-link.css";
@import "../blocks/nav-menu/__phone-nums/nav-menu__phone-nums.css";
@import "../blocks/nav-menu/__phone-time/nav-menu__phone-time.css";
@import "../blocks/nav-menu/__burger-menu/nav-menu__burger-menu.css";
@import "../blocks/nav-menu/__burger-menu-wrapper/nav-menu__burger-menu-wrapper.css";
@import "../blocks/nav-menu-small/nav-menu-small.css";
@import "../blocks/nav-menu-small/__content/nav-menu-small__content.css";
@import "../blocks/nav-menu-small/__item/nav-menu-small__item.css";
@import "../blocks/nav-menu-small/__item-link/nav-menu-small__item-link.css";
@import "../blocks/nav-menu-small/__list/nav-menu-small__list.css";
@import "../blocks/header/__promo/header__promo.css";
@import "../blocks/header/__promo-button/header__promo-button.css";
@import "../blocks/header/__promo-title/header__promo-title.css";
@import "../blocks/header/__promo-title-span/header__promo-title-span.css";
@import "../blocks/header/__promo-subtitle/header__promo-subtitle.css";
@import "../blocks/advantages/advantages.css";
@import "../blocks/advantages/__item/advantages__item.css";
@import "../blocks/advantages/__items/advantages__items.css";
@import "../blocks/advantages/__subtitle/advantages__subtitle.css";
@import "../blocks/advantages/__title/advantages__title.css";
@import "../blocks/advantages/__title/_icon/advantages__title_icon_materials.css";
@import "../blocks/advantages/__title/_icon/advantages__title_icon_tools.css";
@import "../blocks/advantages/__title/_icon/advantages__title_icon_contract.css";
@import "../blocks/advantages/__title/_icon/advantages__title_icon_money.css";
@import "../blocks/designer/designer.css";
@import "../blocks/designer/__wrapper/designer__wrapper.css";
@import "../blocks/designer/__info/designer__info.css";
@import "../blocks/designer/__item/designer__item.css";
@import "../blocks/designer/__list/designer__list.css";
@import "../blocks/designer/__title/designer__title.css";
@import "../blocks/designer/__title/_type/designer__title_type_span.css";
@import "../blocks/form/form.css";
@import "../blocks/form/__agreement/form__agreement.css";
@import "../blocks/form/__agreement-checkbox/form__agreement-checkbox.css";
@import "../blocks/form/__agreement-label/form__agreement-label.css";
@import "../blocks/form/__agreement-link/form__agreement-link.css";
@import "../blocks/form/__input/form__input.css";
@import "../blocks/form/__input-error/form__input-error.css";
@import "../blocks/form/__input/_type/form__input_type_error.css";
@import "../blocks/form/__label/form__label.css";
@import "../blocks/form/__submit/form__submit.css";
@import "../blocks/form/__submit/_disabled/form__submit_disabled.css";
@import "../blocks/gallery/gallery.css";
@import "../blocks/gallery/__categories/gallery__categories.css";
@import "../blocks/gallery/__category/gallery__category.css";
@import "../blocks/gallery/__category-link/gallery__category-link.css";
@import "../blocks/gallery/__heading/gallery__heading.css";
@import "../blocks/gallery/__subtitle/gallery__subtitle.css";
@import "../blocks/gallery/__title/gallery__title.css";
@import "../blocks/gallery/__title-wrapper/gallery__title-wrapper.css";
@import "../blocks/gallery/__main/gallery__main.css";
@import "../blocks/gallery/__image/gallery__image.css";
@import "../blocks/gallery/__main-item/gallery__main-item.css";
@import "../blocks/standards/standards.css";
@import "../blocks/standards/__subtitle/standards__subtitle.css";
@import "../blocks/standards/__title-wrapper/standards__title-wrapper.css";
@import "../blocks/standards/__title/standards__title.css";
@import "../blocks/standards/__additional-info/standards__additional-info.css";
@import "../blocks/standards/__additional-info-subtitle/standards__additional-info-subtitle.css";
@import "../blocks/standards/__additional-info-title/standards__additional-info-title.css";
@import "../blocks/standards/__button/standards__button.css";
@import "../blocks/cards/cards.css";
@import "../blocks/cards/__card/cards__card.css";
@import "../blocks/cards/__card-image/cards__card-image.css";
@import "../blocks/cards/__card-subtitle/cards__card-subtitle.css";
@import "../blocks/cards/__card-text/cards__card-text.css";
@import "../blocks/cards/__card-title/cards__card-title.css";
@import "../blocks/contract/contract.css";
@import "../blocks/contract/__item/contract__item.css";
@import "../blocks/contract/__title/_type/contract__title_type_span.css";
@import "../blocks/information/information.css";
@import "../blocks/information/__grid/information__grid.css";
@import "../blocks/information/__image/information__image.css";
@import "../blocks/information/__title/information__title.css";
@import "../blocks/our-production/our-production.css";
@import "../blocks/our-production/__title/our-production__title.css";
@import "../blocks/our-production/__subtitle/our-production__subtitle.css";
@import "../blocks/our-production/__slider/our-production__slider.css";
@import "../blocks/our-production/__slider-wrapper/our-production__slider-wrapper.css";
@import "../blocks/our-production/__slider-image/our-production__slider-image.css";
@import "../blocks/our-production/__slider-button/our-production__slider-button.css";
@import "../blocks/our-production/__slider-button/_type/our-production__slider-button_type_next.css";
@import "../blocks/our-production/__slider-button/_type/our-production__slider-button_type_prev.css";
@import "../blocks/our-production/__wrapper/our-production__wrapper.css";
@import "../blocks/cooperation/__image/cooperation__image.css";
@import "../blocks/cooperation/__title/cooperation__title.css";
@import "../blocks/cooperation/__labels/cooperation__labels.css";
@import "../blocks/cooperation/__label/cooperation__label.css";
@import "../blocks/cooperation/__label/_type/cooperation__label_type_kesseboehmer.css";
@import "../blocks/questions/questions.css";
@import "../blocks/questions/__info/questions__info.css";
@import "../blocks/info/info.css";
@import "../blocks/info/__address/info__address.css";
@import "../blocks/info/__contacts/info__contacts.css";
@import "../blocks/info/__email/info__email.css";
@import "../blocks/info/__phone/info__phone.css";
@import "../blocks/info/__wrapper/info__wrapper.css";
@import "../blocks/map/map.css";
@import "../blocks/map/__info/map__info.css";
@import "../blocks/map/__info-subtitle/map__info-subtitle.css";
@import "../blocks/map/__info-title/map__info-title.css";
@import "../blocks/map/__yandex/map__yandex.css";
@import "../blocks/footer/footer.css";
@import "../blocks/footer/__wrapper/footer__wrapper.css";
@import "../blocks/footer/__copyright/footer__copyright..css";
@import "../blocks/footer/__logo/footer__logo.css";
@import "../blocks/footer/__subtitle/footer__subtitle.css";
@import "../blocks/footer/__title/footer__title.css";
@import "../blocks/footer/__copyright-icon/footer__copyright-icon.css";
@import "../blocks/footer/__copyright-text/footer__copyright-text.css";
@import "../blocks/footer/__social-icon/footer__social-icon.css";
@import "../blocks/footer/__social-links-wrapper/footer__social-links-wrapper.css";
@import "../blocks/footer/__social-links-title/footer__social-links-title.css";
@import "../blocks/footer/__social-links/footer__social-links.css";
@import "../blocks/footer/__social__link/footer__social-link.css";
@import "../blocks/popup/popup.css";
@import "../blocks/popup/__close-button/popup__close-button.css";
@import "../blocks/popup/__button-confirmation/popup__button-confirmation.css";
@import "../blocks/popup/__close-button/_type/popup__close-button_type_opened-popup.css";
@import "../blocks/popup/__container/popup__container.css";
@import "../blocks/popup/__image/popup__image.css";
@import "../blocks/popup/__title/popup__title.css";
@import "../blocks/popup/_type/popup_type_image.css";
@import "../blocks/popup/_opened/popup_opened.css";
@import "../blocks/popup/__wrapper/popup__wrapper.css";
@import "../blocks/popup/__subtitle/popup__subtitle.css";
@import "../blocks/popup/__content/popup__content.css";
@import "../blocks/popup/__submit-button/popup__submit-button.css";
@import "../blocks/popup/__wrapper/_type/popup__wrapper_type_tinkoff-banner.css";
@import "../blocks/popup/__title/_type/popup__title_type_tinkoff-banner.css";
@import "../blocks/popup/__subtitle/_type/popup__subtitle_type_tinkoff-banner.css";
@import "../blocks/popup/_type/popup_type_tinkoff-banner.css";
@import "../blocks/popup/__tinkoff-icon/popup__tinkoff-icon.css";
@import "../blocks/popup/__tinkoff-icon-bottom/popup__tinkoff-icon-bottom.css";
@import "../blocks/popup/__tinkoff-icon-top/popup__tinkoff-icon-top.css";
@import "../blocks/popup/__tinkoff-icon-wrapper/popup__tinkoff-icon-wrapper.css";
@import "../blocks/popup/__tinkoff-icons-wrapper/popup__tinkoff-icons-wrapper.css";
@import "../blocks/popup/__close-button/_type/popup__close-button_type_tinkoff-banner.css";
@import "../blocks/nav-menu-small/__close-button/nav-menu-small__close-button.css";
@import "../blocks/nav-menu-small/__overlay/nav-menu-small__overlay.css";
@import "../blocks/nav-menu-small/_active/nav-menu-small_active.css";
@import "../blocks/nav-menu-small/__overlay/_active/nav-menu-small__overlay_active.css";
@import "../blocks/messenger/messenger.css";
@import "../blocks/messenger/__button/messenger__button.css";
@import "../blocks/messenger/__icon/messenger__icon.css";
@import "../blocks/messenger/__link/messenger__link.css";
@import "../blocks/messenger/__link/_type/messenger__link_type_call.css";
@import "../blocks/messenger/__link/_type/messenger__link_type_telegram.css";
@import "../blocks/messenger/__link/_type/messenger__link_type_vk.css";
@import "../blocks/messenger/__link/_type/messenger__link_type_whatsapp.css";
@import "../blocks/messenger/__links/messenger__links.css";
@import "../blocks/messenger/__links/_active/messenger__links_active.css";
@import "../blocks/button-to-top/button-to-top.css";
@import "../blocks/button-to-top/__button/button-to-top__button.css";
@import "../blocks/button-to-top/__text/button-to-top__text.css";
@import "../blocks/root/_scroll/root_scroll_disabled.css";
@import "../blocks/tinkoff-banner/__close-button/tinkoff-banner__close-button.css";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
